<form {% if action %} action="{{ action }}" {% endif %} method="post" enctype="multipart/form-data">
  {%- for field in view.create_fields %}
    {%- if field.widget.input_type != 'hidden' -%}
      {%- if field.errors -%}
        {{ field.label(class="error", title=', '.join(field.errors)) }}
      {%- else -%}
        {{ field.label() }}
      {%- endif -%}
    {%- endif %}
    {{ field | safe }}
  {%- endfor %}
  <input type="submit" />
</form>
