<form {% if action %} action="{{ action }}" {% endif %} method="post">
  <input type="hidden" value="{{ old_commit }}" name="_old_commit" />
  <label for="document">Content</label>
  <textarea name="document" id="message">{{ text }}</textarea>
  <label for="message">Message</label>
  <input type="text" name="message" id="message" />
  <input type="submit" value="Save">
</form>

