{% showonmatch 'ul li' %}
  <ul>
    {%- for view in views  %}
      <li>
        {%- if endpoint -%}
          <a href="{{ endpoint(view=view) }}">
        {%- elif view.read_endpoint -%}
          <a href="{{ view.action_url_for('read') }}">
        {%- endif -%}
        {{ view.ListForm(obj=view.data, formdata=None)[view.list_column] | data }}
        {%- if endpoint or view.read_endpoint -%}
          </a>
        {%- endif -%}
      </li>
    {%- endfor %}
  </ul>
{%- else -%}
  {%- if no_result_message -%}
    <p>{{ no_result_message }}</p>
  {%- endif -%}
{% endshowonmatch %}
