{% showonmatch 'ul li' %}
  <ul>
    {%- for view in views  %}
      <li>
        <a href="{{ view.action_url_for(action or 'read', **ctx_args) }}">
          {{ view.list_form[view.list_column] | data }}
        </a>
      </li>
    {%- endfor %}
  </ul>
{%- else -%}
  {%- if no_result_message -%}
    <p>{{ no_result_message }}</p>
  {%- endif -%}
{% endshowonmatch %}
