{% showonmatch 'tr td' %}
  <table>
    {%- for view in views %}
      {% if loop.first %}
        <thead>
          <tr>
            {%- for field in view.table_fields %}
              <th>{{ field.label.text }}</th>
            {% endfor -%}
            {%- if not no_default_actions %}
              {%- if view.read_endpoint %}
                <th>View</th>
              {%- endif %}
              {%- if view.update_endpoint %}
                <th>Edit</th>
              {%- endif %}
              {%- if view.delete_endpoint %}
                <th>Delete</th>
              {% endif -%}
            {% endif -%}
            {% for action in actions %}
              <th>{{ action.title or action.label }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
      {% endif %}
      <tr>
        {%- for column in view_class.table_columns %}
          <td>
            {{ view.table_form[column] | data }}
          </td>
        {%- endfor %}
        {%- if not no_default_actions %}
          {%- if view.read_endpoint %}
            <td><a href="{{ view.action_url_for('read', **(ctx_args or {})) }}">View</a></td>
          {%- endif %}
          {%- if view.update_endpoint %}
            <td><a href="{{ view.action_url_for('update', **(ctx_args or {})) }}">Edit</a></td>
          {%- endif %}
          {%- if view.delete_endpoint %}
            <td><a href="{{ view.action_url_for('delete', **(ctx_args or {})) }}">Delete</a></td>
          {%- endif %}
        {% endif %}
        {% for action in actions %}
          {# Update the dict in line with `or` hack #}
          <td><a href="{{ action.data.update(view.primary_keys) or action.data.update(ctx_args or {}) or url_for(action.endpoint, **action.data) }}">{{ action.label }}</a></td>
        {% endfor %}
      </tr>
      {% if loop.last %}
        </tbody>
      {% endif %}
    {%- endfor %}
  </table>
{%- else -%}
  {%- if no_result_message %}
    <p>{{ no_result_message }}</p>
  {%- endif -%}
{% endshowonmatch %}
