{% showonmatch 'tr td' %}
  <table>
    {%- for view in views %}
      {% set read_url = view.action_url_for('read', **ctx_args) %}
      {% set update_url = view.action_url_for('update', **ctx_args) %}
      {% set delete_url = view.action_url_for('delete', **ctx_args) %}
      {% if loop.first %}
        <thead>
          <tr>
            {%- for field in view.table_fields %}
              <th>{{ field.label.text }}</th>
            {% endfor -%}
            <th class="action">Actions</th>
        </thead>
        <tbody>
      {% endif %}
      <tr>
        {%- for column in view_class.table_columns %}
          <td>
            {{ view.table_form[column] | data }}
          </td>
        {%- endfor %}
        {%- if not no_default_actions %}
          {%- if read_url %}
            <td><a href="{{ read_url }}">View</a></td>
          {%- endif %}
          {%- if update_url %}
            <td><a href="{{ update_url }}">Edit</a></td>
          {%- endif %}
          {%- if delete_url %}
            <td><a href="{{ delete_url }}">Delete</a></td>
          {%- endif %}
        {% endif %}
        {% for action in actions(view) %}
          {% if action.url %}
            <td><a href="{{ action.url }}">{{ action.label }}</a></td>
          {% endif %}
        {% endfor %}
      </tr>
      {% if loop.last %}
        </tbody>
      {% endif %}
    {%- endfor %}
  </table>
{%- else -%}
  {%- if no_result_message %}
    <p>{{ no_result_message }}</p>
  {%- endif -%}
{% endshowonmatch %}
