<ul>
  {% for obj in cls.all() %}
    <li>
      {% if obj.view_endpoint %}
        <a href="{{ url_for(obj.view_endpoint, **obj.primary_keys) }}">
      {% endif %}
        {{ obj.data[obj.list_column] }}
      {% if obj.view_endpoint %}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
