{% set path = document.type_name + "/" + document.document_id + "/" + document.version %}

.. image:: {{ resource('logo.png') }}

EMPLOYEE'S IDENTITY
-------------------

{% for field in employee.read_fields %}
{% if field.widget.input_type != 'hidden' %}
  {{ field.label.text }}
   {{ field.data | safe }}
{% endif %}

{% endfor %}

MISC
----

.. content:: {{ path }}/Employee
   :id: employee
   :class: employee
   :renderer: employee

   ["Employee", "Edit this !"]

{{ render_rest(document.type_name, part='comments.rst.jinja2', employee=employee, editable=editable) }}

