{% for field in employee.read_form %}
{% if field.widget.input_type != 'hidden' %}
  {{ field.label.text }}
   {{ field.data | safe }}
{% endif %}

{% endfor %}

{% set path = document.type_name + "/" + document.document_id + "/" + document.version %}
Comments:

.. editable:: {{ path }}/comments
